<div class="row">
    <div class="col s12 m4 l12">
        <div class="card-panel teal">
            <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a
                panel in other frameworks.
            </span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col l3 s12 m6">
        <div class="card small center">
            <span class="card-title ">Itunes Card</span>
        </div>
    </div>
    <div class="col l3 s12 m6">
        <div class="card small center">
            <span class="card-title ">Google Play Card</span>
        </div>
    </div>
    <div class="col l3 s12 m6">
        <div class="card small center">
            <span class="card-title ">Amazon Gift Card</span>
        </div>
    </div>
    <div class="col l3 s12 m6">
        <div class="card small center">
            <span class="card-title ">Steam Gift Card</span>
        </div>
    </div>
    <div class="col l3 s12 m6">
        <div class="card small center">
            <span class="card-title ">Ebay Gift Card</span>
        </div>
    </div>
    <div class="col l3 s12 m6">
        <div class="card small center">
            <span class="card-title ">Amazon Gift Card</span>
        </div>
    </div>
</div>